{% extends 'CServices/base.html' %}
{% block content %}


<h2>Bid Request</h2>

<div>
    <form action="/bid_req/" method="post">{% csrf_token %}
        {{ bidreq.as_p }}
        {{ formset.management_form }}
        <table class="log" id="bidreq">
            <thead>
                <tr>
                    <th></th>
                    <th>Size</th>
                    <th>Length</th>
                    <th>Bid</th>
                    <th>IR</th>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                <tr>
                    <th>Option {{forloop.counter}}</th>
                    <td>{{form.size}}</td>
                    <td>{{form.length}}</td>
                    <td>{{form.bid}}</td>
                    <td>{{form.IR}}</td>
                    <td>{{form.method}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit">
    </form>
</div>

{% endblock %}