{% extends 'CServices/base.html' %}

{% block content %}

<div>
    <h3>WIP Log</h3>
    <table class="log">
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for wip in wips %}
        <tr>
            <td>{{wip.author}}</td>
            <td>{{wip.p_num}}</td>
            <td>{{wip.name}}</td>
            <td>{{wip.size}}</td>
            <td>{{wip.bid}}</td>
            <td>{{wip.length}}</td>
            <td>{{wip.IR}}</td>
            <td>{{wip.cost}}</td>
            <td>{{wip.start}}</td>
            <td>{{wip.end}}</td>
            <td>{{wip.method}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div>
    <h3>Bid Log</h3>
    <table class="log">
        <tr>
            {% for bl_header in bl_headers %}
            <th>{{ bl_header }}</th>
            {% endfor %}
        </tr>
        {% for bid in bids %}
        <tr>
            <td>{{bid.pk}}</td>
            <td><a href="bid_detail/{{bid.p_num}}/">{{bid.p_num}}</a></td>
            <td>{{bid.name}}</td>
            <td><a href="bid_builder/{{bid.p_num}}">Build it!</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}